# $PLUGINSDIR$/check_svc_bc
define service {
    use                     svc-service
    register                0
    host_name               svc
    service_description     Check_Backend_Controller
    check_command           check_svc_bc
}
