# check_svc_iogrp
define service {
    use                     svc-service
    register                0
    host_name               svc
    service_description     Check_IO_Group
    check_command           check_svc_iogrp!102400!204800
}
