# check_svc_mc
define service {
    use                     svc-service
    register                0
    host_name               svc
    service_description     Check_Master_Console
    check_command           check_svc_mc
}
